<section class="section main-banner" id="top" data-section="section1">
    <video autoplay muted loop id="bg-video">
        <source src="assets/course-video.mp4" type="video/mp4" />
    </video>
  
    <div class="video-overlay header-text">
        <div class="caption">
          <h6>Welcome to Team Defender's</h6>
            <h2><em>Mobile</em> Plan</h2>
            <div>
                <div class="scroll-to-section">
                  <button  class="main-button cursor-pointer" (click)="createPlan()">Create Plan</button>&nbsp;&nbsp;
                  <button  class="main-button cursor-pointer" (click)="viewPlan()">View Plan</button>

                </div>
            </div>
        </div>
    </div>
  </section>