<mat-toolbar style="color:white;background:#343A40">
    <mat-toolbar-row>
        <span class="cursor-pointer">Mobile Plan</span>
        <div class="row" style="width:70%">
        </div>
        <span style="font-size:15px;margin-left:15px" class="cursor-pointer"
            (click)="createPlan()">Create</span>
        <span style="font-size:15px;margin-left:15px" class="cursor-pointer"
            (click)="viewPlan()">View</span>
        <span style="font-size:15px;margin-left:15px" class="cursor-pointer"
            (click)="aboutUS()">Audit Log</span>
      <mat-icon style="margin-left:30px;cursor:pointer" (click)="gettingStarted()">power_settings_new</mat-icon>

    </mat-toolbar-row>
</mat-toolbar>
<div style="background-image:url(../../assets/choosing-bg.jpg)
    ;height:87%;padding-top:2%">
    <mat-card style="width:80%;margin-left:10%;border-radius: 30px; background-color: #d5ccd8;">
        <div class="row" style="width:100%;height:450px">
            <div class="column" style="margin-top:15px;width:50%">
                <label style="font-weight:650;font-size:30px;">Update a Mobile
                    Plan</label><br><br>
                <div class="col" style="margin-top:15px;width:100%">
                    <label class="form-label"><b>Plan ID*</b></label><br>
                    <input [disabled]="getPlanId != ''" [(ngModel)]="planId"
                        type="number" style="width: 90%;padding:
                        10px;border-radius: 5px;border: 1px solid
                        #b5afaf;margin-top:3px" onkeydown="javascript: return
                        ['Backspace','Delete','ArrowLeft','ArrowRight'].includes(event.code)
                        ? true : !isNaN(Number(event.key)) &&
                        event.code!=='Space'" id="id" class="form-control mb-3"><br>
                    <span class="text-danger" *ngIf="planIdRequired && planId ==
                        undefined">Please Enter Plan ID</span>
                </div>
                <div style="margin-top:15px;width:100%">
                    <label class="form-label"><b>Plan Name*</b></label><br>
                    <input [(ngModel)]="planName" style="width: 90%;padding:
                        10px;border-radius: 5px;border: 1px solid #b5afaf; font-family:Verdana, Geneva, Tahoma, sans-serif" placeholder="Enter Plan Name"
                        type="text" id="name" class="form-control mb-3"><br>
                    <span class="text-danger" *ngIf="planNameRequired &&
                        (planName =='' || planName ==undefined) ">Please
                        Enter Plan Name</span>
                </div>
                <div style="margin-top:15px;width:100%">
                    <label class="form-label"><b>Plan Validity*</b></label><br>
                    <input [(ngModel)]="planValidity" style="width:
                        90%;padding: 10px;border-radius: 5px;border: 1px
                        solid #b5afaf;margin-top:3px; font-family:Verdana, Geneva, Tahoma, sans-serif" placeholder="Enter Validity (In Days)" type="number"
                        onkeydown="javascript: return
                        ['Backspace','Delete','ArrowLeft','ArrowRight'].includes(event.code)
                        ? true : !isNaN(Number(event.key)) &&
                        event.code!=='Space'" id="validity"
                        class="form-control mb-3"><br>
                    <span class="text-danger"
                        *ngIf="planValidityRequired && planValidity ==
                        undefined">Please Enter Plan Validity</span>
                </div>
                <div style="margin-top:15px;width:100%">
                    <label class="form-label"><b>Plan Description</b></label><br>
                    <textarea [(ngModel)]="planDesc" style="width:
                        90%;padding: 10px;border-radius: 5px;border: 1px
                        solid #b5afaf; margin-top:3px; font-family:Verdana, Geneva, Tahoma, sans-serif; " placeholder="Enter Description"
                        class="form-control" id="description">
                    </textarea>
                </div>
                <div *ngIf="notExist">
                    <span class="text-danger">Mobile Plan Not Exists</span>
                </div>
                <div *ngIf="respStatus == 201">
                    <div class="plan-added-css">
                        <span>Plan Updated</span>
                    </div>
                </div>
                <div class="text-center">
                    <button type="button" id="submit" style="background-color: #162238; color: white;" class="btn
                        btn-outline-danger mt-4 btn-lg cursor-pointer "
                        (click)="submitPlan()">
                        Update</button>&nbsp;&nbsp;
                    <button type="button" id="submit"  style="background-color: #162238; color: white;"class="btn
                        btn-outline-danger mt-4 btn-lg cursor-pointer"
                        (click)="resetData()">
                        Reset</button>
                </div>
            </div> <div class="column" style="width:50%;height:100%">
                <img style="width:100%;height:100%"
                    src="https://www.zellusmarketing.com/wp-content/uploads/2021/06/Rocket-Digital-Marketing-Gif-1.gif"
                    alt="Photo of a Shiba Inu">
            </div></div>
    </mat-card>
</div>