<!-- <h1 mat-dialog-title>Hi {{data.name}}</h1> -->
<div mat-dialog-content style="overflow:hidden; height: 10rem;" >
  
    <p style="font-size:18px;font-weight:500">Plan Created Successfully With ID {{getPlanId}}.</p>
    <div class="text-center">
    <img style="height:50px;" src="../../assets/tick.gif">
  </div>
  <div class="text-center" style="margin-bottom:-10px">

    <button type="button" id = "submit"  class="btn btn-outline-danger mt-4 btn-lg cursor-pointer" style="background-color: #162238; color: white; height: 48x; width: 48px;" (click)="remove()">
      OK</button>
    
  </div>