<mat-toolbar style="color:white;background: gray;">
  <mat-toolbar-row>
    <span class="cursor-pointer" (click)="gettingStarted()">Mobile Plan</span>
    <div class="row" style="width:70%">

    </div>
    <span style="font-size:15px;margin-left:15px" class="cursor-pointer"
      (click)="createPlan()">Create</span>
    <span style="font-size:15px;margin-left:15px" class="cursor-pointer" (click)="viewPlan()">View</span>
    <span style="font-size:15px;margin-left:15px" class="cursor-pointer"
      (click)="searchPlan()">Search</span>
    <!-- <span style="font-size:15px;margin-left:15px" class="cursor-pointer"
      (click)="updatePlan()">Update</span>
    <span style="font-size:15px;margin-left:15px" class="cursor-pointer"
      (click)="deletePlan()">Delete</span> -->
    <span style="font-size:15px;margin-left:15px" class="cursor-pointer  selectedTab"
      (click)="aboutUS()">About Us</span>

    <!-- <div style="width:90%"><span>Mobile Plan</span></div>
    <div (click)="createPlan()" style="width:10%"><span>Create Plan</span></div>
    <div style="width:10%"><span>Mobile Plan</span></div> -->
  </mat-toolbar-row>
</mat-toolbar>

<div class="container my-4">
  <div class="row featurette d-flex justify-content-center align-items-center">
    <div class="col-md-7">
      <h1>About us: <span class="text-muted">It’ll blow your
          mind.</span></h1>
      <p class="lead" style="font-weight:300;color:rgb(13 12 12) !important;">
        This is our mini project for Mobile Plan </p>
      <p>©Team Defenders</p>
    </div>
    <div class="col-md-5">
      <img class="img-fluid" style="width:470px; height:370px;"
        src="https://www.ookla.com/s/media/2021/12/LTE-Carrer-Map-Animate-2.gif"
        alt="">

    </div>
  </div>
  <br>
  <div class="row featurette d-flex justify-content-center align-items-center">
    <div class="col-md-7 order-md-2">

      <h1 style="color:black">Team Members : <span class="text-muted">We are 5</span></h1>
      <p class="lead"> Surbhit &nbsp; Amey &nbsp; Roshani &nbsp; Aishwarya
        &nbsp; Pratik </p>
      <h2 class="featurette-heading"></h2><p class="lead"> Arya Raj
      </p>
    </div>
    <div class="col-md-5 order-md-1">
      <br>
      <img class="img-fluid" style="width:440px; height:320px;"
        src="https://i.pinimg.com/originals/d6/0f/63/d60f63f6dd27989ce8756c37f774d309.gif"
        alt="">

    </div>
  </div>
  <br>
  <br>
  <br>
  <div class="row featurette d-flex justify-content-center align-items-center">
    <div class="col-md-7">

      <h2 class="featurette-heading">&nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
        &nbsp;&nbsp; &nbsp;THANK YOU <span class="text-muted">:)
        </span></h2>
      <p class="lead"></p>
    </div>
    <div class="col-md-5">
      <img class="img-fluid" style="width:440px; height:340px;"
        src="https://media3.giphy.com/media/fsJ9383BWXgp1TXd2L/giphy-downsized-large.gif"
        alt="">

    </div>
  </div>
</div>