<mat-toolbar style="background: #343a40!important">
    <mat-toolbar-row>
      <span class="cursor-pointer" (click)="gettingStarted()">Mobile Plan</span>
      <span style="font-size:15px;margin-left:15px" class="cursor-pointer selectedTab"
        (click)="createPlan()">Create</span>
      <span style="font-size:15px;margin-left:15px" class="cursor-pointer " (click)="viewPlan()">View</span>
      <span style="font-size:15px;margin-left:15px" class="cursor-pointer"
        (click)="searchPlan()">Search</span>
      <span style="font-size:15px;margin-left:15px" class="cursor-pointer"
        (click)="aboutUS()">About Us</span>
  
      <!-- <div style="width:90%"><span>Mobile Plan</span></div>
      <div (click)="createPlan()" style="width:10%"><span>Create Plan</span></div>
      <div style="width:10%"><span>Mobile Plan</span></div> -->
    </mat-toolbar-row>
  </mat-toolbar>

  <div style="background-image:url(../../assets/background.png) ;height:87%;padding-top:2%">
<div style="height:87%;padding-top:2%">
    <mat-card  style="width:80%;margin-left:10%;border-radius: 30px;">
        <div class="row" style="width:100%;height:450px">
            <div class="column" style="margin-top:15px;width:50%">
                <label style="font-weight:650;font-size:30px;">Create a Mobile Plan</label><br><br>
                <!-- <div class="col" style="margin-top:15px;width:100%">
                    <label class="form-label"><b>Plan ID*</b></label><br>
                    <input [(ngModel)] ="planId"  type="number" style="width: 90%;padding: 10px;border-radius: 5px;border: 1px solid #b5afaf;"  onkeydown="javascript: return ['Backspace','Delete','ArrowLeft','ArrowRight'].includes(event.code) ? true : !isNaN(Number(event.key)) && event.code!=='Space'"id = "id" class="form-control mb-3"><br>
                    <span class="text-danger" *ngIf="planIdRequired && planId == undefined">Please Enter Plan ID</span>
                </div> -->
    
    
                <div style="margin-top:20px;width:100%">
                    <label class="form-label"><b>Plan Name*</b></label><br>
                    <input [(ngModel)] ="planName"  style="width: 90%;padding: 10px;border-radius: 5px;border: 1px solid #b5afaf;" type="text" id = "name" class="form-control mb-3"><br>
                    <span class="text-danger" *ngIf="planNameRequired && (planName =='' || planName ==undefined) ">Please Enter Plan Name</span>
                </div>
                
    
                <div style="margin-top:15px;width:100%">
                    <label class="form-label"><b>Plan Validity*</b></label><br>
                    <input [(ngModel)] ="planValidity"  style="width: 90%;padding: 10px;border-radius: 5px;border: 1px solid #b5afaf;" type="number" onkeydown="javascript: return ['Backspace','Delete','ArrowLeft','ArrowRight'].includes(event.code) ? true : !isNaN(Number(event.key)) && event.code!=='Space'" id = "validity" class="form-control mb-3"><br>
                    <span class="text-danger" *ngIf="planValidityRequired && planValidity == undefined">Please Enter Plan Validity</span>
    
                </div>
    
                <div style="margin-top:15px;width:100%">
                    <label class="form-label"><b>Plan Description</b></label><br>
                    <textarea [(ngModel)] ="planDesc"  style="width: 90%;padding: 10px;border-radius: 5px;border: 1px solid #b5afaf;" class="form-control" id="description">
                    </textarea>
                </div>
    
                <div *ngIf="alreadyExist">
                    <span class="text-danger" >Mobile Plan Already Exist</span>
                </div>
                <!-- <div id="demo" *ngIf="respStatus == 201">
                    <div class="plan-added-css">
                        <span >Plan Created</span>
                    </div>
    
                </div> -->
              <br>
            <br>
                <div class="text-center">
                    <button type="button" id = "submit" class="button btn-outline-success mt-4 btn-lg cursor-pointer " (click)="submitPlan()">
                        Create</button>&nbsp;&nbsp;
                        <button type="button" id = "submit" class="btn btn-outline-success mt-4 btn-lg cursor-pointer" (click)="resetData()">
                            Reset</button>
                </div>
            </div>
            <div class="column" style="width:50%;height:100%">
                    <img style="width:100%;height:100%" src="../../assets/MicrosoftTeams-image (7).png" alt="Photo of a Shiba Inu">
            </div>
          </div>
     
    </mat-card>
</div>
    
</div>