<mat-toolbar style="color:white;background:#343A40;">
    <mat-toolbar-row>
     
      <span class="cursor-pointer" (click)="viewPlan()">Mobile Plan</span>
      <div class="row" style="width:70%">

      </div>
      <span style="font-size:15px;margin-left:15px" class="cursor-pointer selectedTab"
        (click)="createPlan()">Create</span>
      <span style="font-size:15px;margin-left:15px" class="cursor-pointer " (click)="viewPlan()">View</span>
    
      <span style="font-size:15px;margin-left:15px" class="cursor-pointer"
        (click)="aboutUS()">Audit Log</span>

        <mat-icon style="margin-left:30px;cursor:pointer" (click)="gettingStarted()">power_settings_new</mat-icon>
  
    </mat-toolbar-row>
  </mat-toolbar>

 <div style="background-image:url(../../assets/choosing-bg.jpg) ;height:87%;padding-top:2%">
<div style="height:87%;padding-top:2%">
    <mat-card style="width:80%;margin-left:10%;border-radius: 30px;opacity:0.9;height:auto; background-color: #d5ccd8;">
        <div class="row" style="width:100%;height:450px">
            <div class="column" style="margin-top:15px;width:50%">
                <label style="font-weight:650;font-size:30px;">Create a Mobile Plan</label><br><br>
             
    
                <div style="margin-top:20px;width:100%">
                    <label class="form-label"><b>Plan Name*</b></label><br>
                    <input [(ngModel)] ="planName"  style="margin-top:3px;width: 90%;padding: 10px;border-radius: 5px;border: 1px solid #b5afaf;font-family:Verdana, Geneva, Tahoma, sans-serif" placeholder="Enter Plan Name" type="text" id = "name" class="form-control mb-3"><br>
                    <span class="text-danger" *ngIf="planNameRequired && (planName =='' || planName ==undefined) ">Please Enter Plan Name</span>
                </div>
                
    
                <div style="margin-top:15px;width:100%">
                    <label class="form-label"><b>Plan Validity*</b></label><br>
                    <input [(ngModel)] ="planValidity"  style="margin-top:3px;width: 90%;padding: 10px;border-radius: 5px;border: 1px solid #b5afaf;font-family:Verdana, Geneva, Tahoma, sans-serif" placeholder="Enter Validity (In Days)" type="number" onkeydown="javascript: return ['Backspace','Delete','ArrowLeft','ArrowRight'].includes(event.code) ? true : !isNaN(Number(event.key)) && event.code!=='Space'" id = "validity" class="form-control mb-3"><br>
                    <span class="text-danger" *ngIf="planValidityRequired && planValidity == undefined">Please Enter Plan Validity</span>
    
                </div>
    
                <div style="margin-top:15px;width:100%">
                    <label class="form-label"><b>Plan Description</b></label><br>
                    <textarea [(ngModel)] ="planDesc"  style=" margin-top:3px; width: 90%;padding: 10px;border-radius: 5px;border: 1px solid #b5afaf; font-family:Verdana, Geneva, Tahoma, sans-serif; " placeholder="Enter Description" class="form-control" id="description">
                    </textarea>
                </div>
    
                <div *ngIf="alreadyExist">
                    <span class="text-danger" >Mobile Plan Already Exist</span>
                </div>
             
              <br>
            <br>
                <div class="text-center">
                    <button type="button" id = "submit" class="btn btn-outline-danger mt-4 btn-lg cursor-pointer" style="background-color: #162238; color: white;" (click)="submitPlan()">
                        Create</button>&nbsp;&nbsp;
                        <button type="button" id = "submit" class="btn btn-outline-danger mt-4 btn-lg cursor-pointer" style="background-color: #162238; color: white;" (click)="resetData()">
                            Reset</button>
                </div>
            </div>
            <div class="column" style="width:50%;height:100%">
                    <img style="width:100%;height:100%" src="https://mtjobsolution.com/wp-content/uploads/2022/06/ab056a_a8cfa7317713482dbf3047c04719a41c_mv2.gif" alt="Photo of a Shiba Inu">
            </div>
          </div>
     
    </mat-card>
</div>
    
</div>