<!-- <h1 mat-dialog-title>Hi {{data.name}}</h1> -->
<div mat-dialog-content>
    <p style="font-size:18px;font-weight:500">Are you sure, you want to logout?</p>
   
  </div>
  <div mat-dialog-actions class="text-center">
    <!-- <button mat-button (click)="cancel()">Cancel</button>&nbsp;
    <button mat-button (click)="remove()" cdkFocusInitial>Delete</button> -->
    <button type="button" style="margin-left:30%"  id = "submit" class="btn btn-outline-success mt-4 btn-lg cursor-pointer" (click)="logout()">
      Logout</button>&nbsp;&nbsp;
  
    <button type="button" id = "submit" class="btn btn-outline-success mt-4 btn-lg cursor-pointer" (click)="cancel()">
      Cancel</button>
    
  </div>
  