<mat-toolbar style="color:white;background: black;">
  <mat-toolbar-row>
    <span class="cursor-pointer" (click)="gettingStarted()">Mobile Plan</span>
    <div class="row" style="width:70%">

    </div>
    <span style="font-size:15px;margin-left:15px" class="cursor-pointer"
      (click)="createPlan()">Create</span>
    <span class="cursor-pointer selectedTab" (click)="viewPlan()">View</span>
    <span style="font-size:15px;margin-left:15px" class="cursor-pointer"
      (click)="searchPlan()">Search</span>
    <!-- <span style="font-size:15px;margin-left:15px" class="cursor-pointer"
      (click)="updatePlan('')">Update</span>
    <span style="font-size:15px;margin-left:15px" class="cursor-pointer"
      (click)="deletePlan()">Delete</span> -->
    <span style="font-size:15px;margin-left:15px" class="cursor-pointer"
      (click)="aboutUS()">About Us</span>

    <!-- <div style="width:90%"><span>Mobile Plan</span></div>
    <div (click)="createPlan()" style="width:10%"><span>Create Plan</span></div>
    <div style="width:10%"><span>Mobile Plan</span></div> -->
  </mat-toolbar-row>
</mat-toolbar>


<div style="background-image:url(../../assets/background.png) ;height:89%;padding-top:2%">
  <mat-card style="width:80%;margin-left:10%;border-radius: 30px;opacity:0.9">
    <div class="tableWrap">
      <table style="width:100%;border-radius:30px" align="center">
        <thead style="margin-bottom:20px">
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Validity</th>
            <th>Description</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of getAllUser;let i= index" align="center"  [ngClass]="{'myStyle': 0 === i % 2}">
            <td style="padding:10px">{{item.id}}</td>
            <td style="padding:10px">{{item.name}}</td>
            <td style="padding:10px">{{item.validity}}</td>
            <td style="padding:10px">{{item.description}}</td>

            <td align="center" style="padding:5px" >
              <mat-icon (click)="updatePlan(item.id)"
                style="font-size:20px;vertical-align: middle;cursor: pointer;color:rgb(8, 8, 95)"
                aria-hidden="false" aria-label="Example home icon"
                fontIcon="edit"></mat-icon>
              <mat-icon (click)="openDialog(item.id)"
                style="font-size:20px;vertical-align: middle;cursor: pointer;color:rgb(170, 6, 6)"
                aria-hidden="false" aria-label="Example home icon"
                fontIcon="delete"></mat-icon>
            </td>
          </tr>
        </tbody>
    
      </table>
    </div>
  </mat-card>
</div>