nav {
    display: block;
  }

  table, th, td {
    border:1px solid rgb(194, 193, 193);
    border-collapse: collapse;
  }
  .mat-toolbar-multiple-rows {
    min-height: 53px;
    color: white;
}

.tableWrap {
  height: 323px;
  /* border: 1px solid black; */
  overflow: auto;
  width:84%;
  margin-left:8%;
}
.myStyle{
  background-color:  rgb(177, 177, 177);
}

thead tr th {
  position: sticky;
  top: 0;
  text-align: center;
}


.mat-select-css {
  width: 10%;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 4px 3px;
  height:22px
}

thead tr{
 margin-bottom:20px !important;
}


th {
  padding: 7px;
  padding-left: 15px;
  border-left: 1px dotted rgba(200, 209, 224, 0.6);
  border-bottom: 1px solid #e8e8e8;
  background: gray;
  text-align: left;
  /* With border-collapse, we must use box-shadow or psuedo elements
  for the header borders */
  box-shadow: 0px 0px 0 2px #e8e8e8;
}

input{
  height:30px;
}
