<mat-toolbar style="background: #343a40!important">
  <mat-toolbar-row>
    <span class="cursor-pointer" (click)="gettingStarted()">Mobile Plan</span>
    <span style="font-size:15px;margin-left:15px" class="cursor-pointer"
      (click)="createPlan()">Create</span>
    <span style="font-size:15px;margin-left:15px" class="cursor-pointer" (click)="viewPlan()">View</span>
    <span style="font-size:15px;margin-left:15px" class="cursor-pointer selectedTab"
      (click)="searchPlan()">Search</span>
    <span style="font-size:15px;margin-left:15px" class="cursor-pointer"
      (click)="updatePlan('')">Update</span>
    <span style="font-size:15px;margin-left:15px" class="cursor-pointer"
      (click)="deletePlan()">Delete</span>
    <span style="font-size:15px;margin-left:15px" class="cursor-pointer  "
      (click)="aboutUS()">About Us</span>

    <!-- <div style="width:90%"><span>Mobile Plan</span></div>
    <div (click)="createPlan()" style="width:10%"><span>Create Plan</span></div>
    <div style="width:10%"><span>Mobile Plan</span></div> -->
  </mat-toolbar-row>
</mat-toolbar>

    <div style="background-image:url(../../assets/latestbg.png) ;height:89%;padding-top:2%">
      <mat-card style="width:45%;margin-left:27%;padding:20px">
       <label style="font-weight:650;font-size:19px">Search a  Mobile Plan</label><br><br>
        <label class="form-label mb-3" style="font-size:15px"><b>Search by ID *</b></label>
        <form class="d-flex" role="search" style="margin-top:10px">
          <input [(ngModel)] ="searchText" style="width: 85%;padding: 10px;border-radius: 5px;border: 1px solid #b5afaf;" [ngModelOptions]="{standalone: true}" type="number" placeholder="Search" >
            <!-- <input [(ngModel)] ="searchText" style="width: 70%;padding: 10px;border-radius: 5px;border: 1px solid #b5afaf;" class="form-control me-2" type="text"  onkeydown="javascript: return ['Backspace','Delete','ArrowLeft','ArrowRight'].includes(event.code) ? true : !isNaN(Number(event.key)) && event.code!=='Space'" id = "boom"  placeholder="Search"> -->
            <button type="button" (click)="searchPlan()" class="btn btn-success cursor-pointer " id = "getByID" style="padding: 9px;background: #218838;border:1px solid #218838;color:white;border-radius:5px ; " > Search<span class="bi bi-trash red-color"></span></button><br>
          <span class="text-danger" *ngIf="searchRequired">Please enter search field</span>
        </form>
        <br>
        <table style="width:100%;border-radius:5px" *ngIf="getResult != 0"  >
          <thead>
            <tr align="center">
              <th>ID</th>
              <th>Name</th>
              <th>Validity</th>
              <th>Description</th>
            </tr>
          </thead>
        
          <tbody>
            <tr *ngFor="let item of getResult" align="center" >
              <td style="padding:5px">{{item['id']}}</td>
              <td style="padding:5px">{{item['name']}}</td>
              <td style="padding:5px">{{item['validity']}}</td>
              <td style="padding:5px">{{item['description']}}</td>
         
            </tr>
          </tbody>
         
        
        </table>
       <div *ngIf="dataNotFound">
        <table style="width:100%;border-radius:5px" >
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Validity</th>
            <th>Description</th>
            <th>Action</th>
          </tr>
           
        </table>
        <div style="border:1px solid black;border-top:none !important;text-align: center;padding:4px">
          No Data Found
         </div>
       </div>
    </mat-card>
    </div>